<div class="col-6 mt-4">
  <h2 class="alert alert-success text-center">{{ isEdit ? 'Edit meal' : 'Add new meal' }}</h2>
  <form (ngSubmit)="saveMeal()" #f="ngForm">
    <div class="form-group">
      <label for="date">Date</label>
      <input type="date" class="form-control" name="date" id="date" ngModel>
    </div>
    <div class="form-group">
      <label for="mealTime"><strong>Meal time</strong></label>
      <select
        class="form-control"
        id="mealTime"
        name="mealTime"
        ngModel
      >
        <option value="breakfast">Breakfast</option>
        <option value="snack">Snack</option>
        <option value="lunch">Lunch</option>
        <option value="dinner">Dinner</option>
      </select>
    </div>
    <div class="form-group">
      <label for="description"><strong>Meal description</strong></label>
      <input
        type="text"
        class="form-control"
        id="description"
        name="description"
        ngModel
      />
    </div>
    <div class="form-group">
      <label for="calories"><strong>Calories (kcal)</strong></label>
      <input
        type="number"
        class="form-control"
        id="calories"
        name="calories"
        ngModel
      />
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="isUploading"
    ><span *ngIf="!isUploading"
      >{{ isEdit ? 'Edit' : 'Add' }}
      </span>
      <span *ngIf="isUploading" class="spinner-border spinner-border-sm">
          <span class="sr-only">Loading...</span>
      </span>
    </button>
  </form>
</div>
