<div class="alert alert-secondary row mt-4 align-items-center">
  <div class="col">
    <span>Total calories:
      <strong *ngIf="!isFetching; else loading">{{ onTotalCalories() }} kcal</strong>
    </span>
  </div>
  <div class="text-right col">
    <a class="btn btn-success" routerLink="/meals/new">Add new meal</a>
  </div>
</div>
<ng-template #loading>
  <span class="spinner-border">
    <span class="sr-only">Loading...</span>
  </span>
</ng-template>

