<ng-container *ngIf="!isFetching; else loading">
  <div
    class="alert alert-success row mt-4 align-items-center"
    *ngFor="let meal of meals; let i = index"
  >
    <div class="col-7">
      <p class="font-weight-lighter">{{ meal.mealTime.toUpperCase() }} ({{ meal.date }})</p>
      <p>{{ meal.description }}</p>
    </div>
    <div class="col text-right">
      <p><strong>{{ meal.calories }} kcal</strong></p>
    </div>
    <div class="col text-right">
      <p>
        <a
          class="btn btn-primary"
          [routerLink]="['/meals/edit', meal.id]"
        >Edit
        </a>
      </p>
      <p>
        <button
          type="button"
          class="btn btn-danger"
          (click)="onRemove(meal.id, i)"
          *ngIf="!isRemoving || !meal.isRemoving; else removing"
        >Delete
        </button>
      </p>
    </div>
  </div>
</ng-container>
<ng-template #loading>
  <span class="spinner-border">
    <span class="sr-only">Loading...</span>
  </span>
</ng-template>
<ng-template #removing>
  <span *ngIf="isRemoving" class="spinner-border spinner-border-sm">
    <span class="sr-only">Removing...</span>
  </span>
</ng-template>
